<div class="card">
    <h2 class="question"><%= qna.question %></h2>
    <h3 class="category"><%= qna.category %></h3>
    <textarea class="hide-answer" readonly><%= qna.answer %></textarea>
    <p><em>Source: <%= qna.source %></em></p>
    <p><em>Submitted By: <%= qna.author.username %></em></p>
    
    <form id="card-form" action="/<%= qna.id %>?_method=DELETE" method="POST">
      <button class="card-btn btn btn-xs btn-danger">Delete</button>
    </form>
    <p><a class="card-btn btn btn-xs btn-warning" href="/<%= qna.id %>/edit">Edit</a></p>
</div>
</br>