<% include partials/header %>

<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<div id="myModal" class="modal">
  <div class="modal-content">
      <span class="close">&times;</span>
        <div class="container">
          <h1 style="text-align: center">Edit <%= question.question %></h1>
          <form action="/<%= question.id %>?_method=PUT" method="POST" style="max-width: 300px; margin: auto; margin-top: 50px; border: 0.5px solid gray; padding: 30px 30px 30px 30px">
             
             <div class="form-group">
               <label>Question</label>
               <input type="text" name="qnas[question]" class="form-control" value="<%= question.question %>">
             </div>
             <div class="form-group">
               <label>Answer</label>
               <input type="text" name="qnas[answer]" class="form-control" value="<%= question.answer %>">
             </div>
             <div class="form-group">
               <label>Source</label>
               <input type="text" name="qnas[source]" class="form-control" value="<%= question.source %>">
             </div>
             <div class="form-group">
               <button class="btn btn-success">Submit</button>
             </div>
           </form>          
        </div>

  </div>
</div>
 
<% include partials/footer %>





