<% include partials/header %>

<div class="container">
  <h2 class="edit-title">Edit: <%= question.question %></h1>
  <form action="/<%= question.id %>?_method=PUT" method="POST" class="forms new-question-form">
    <div class="form-group">
      <label>Category</label>
      <select name="qnas[category]" value="<%= question.category %>" class="form-control" required autofocus>
        <option value=""><%= question.category %></option>
        <option value="General">General</option>
        <option value="HTML">HTML</option>
        <option value="CSS">CSS</option>
        <option value="Javascript">Javascript</option>
        <option value="Testing">Testing</option>
        <option value="Performance">Performance</option>
        <option value="Network">Network</option>
        <option value="Coding">Coding</option>
        <option value="Fun">Fun</option>
        <option value="React">React</option>
        <option value="Algorithms">Algorithms</option>
      </select>
    </div>
   <div class="form-group">
     <label>Question</label>
     <input type="text" name="qnas[question]" class="form-control" value="<%= question.question %>">
   </div>
   <div class="form-group">
     <label>Answer</label>
     <textarea name="qnas[answer]" class="form-control" ><%= question.answer %></textarea>
   </div>
   <div class="form-group">
     <label>Source</label>
     <input type="text" name="qnas[source]" class="form-control" value="<%= question.source %>">
   </div>
   <div class="form-group">
     <button class="btn btn-success">Submit</button>
   </div>
  </form>  
</div>

<% include partials/footer %>