<% include partials/header %> 
    <header class="jumbotron">
         <div class="container text-center">
             <h1>Web Dev Interview Questions</h1>      
         </div>
     </header>
    <div class="container text-center">
      <p>
        <a id="show-answers-btn" class="btn btn-primary btn-large">Show Answers</a>
        <a class="btn btn-primary btn-large" href="/new">Add New Question</a>
      </p>
      </br>
      <div class="text-center" style="">
        <% qnas.forEach(function(qna){ %>
          <div class="card">
            
              <h2 class="question"><%= qna.question %></h2>
              <p class="hide-answer"><%= qna.answer %></p>
              <p><em>Source: <%= qna.source %></em></p>
              <p><em>Submitted By: <%= qna.author.username %></em></p>
              
              <form id="delete-form" action="/<%= qna.id %>?_method=DELETE" method="POST">
                <button class="card-btn btn btn-xs btn-danger">Delete</button></p>
              </form>
              <p><a class="card-btn btn btn-xs btn-warning" href="/<%= qna.id %>/edit">Edit</a></p>
            
          </div>
          </br>
        <% }); %>
      </div>     
    </div>
<% include partials/footer %>
 